# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:panda@localhost:5432/fraud_detection")

In [6]:
# loading all data from the database
# Write the query
query = """
SELECT 
		t1.date,
		t1.amount,
		t2.cardholder_id
FROM 	transaction t1, credit_card t2
WHERE 	t1.card = t2.card
ORDER BY t1.date, t1.amount
        """

In [7]:
df_transaction = pd.read_sql(query,
                             engine,
                             index_col = "date",
                             parse_dates = True)

In [8]:
df_transaction.head()

                     amount  cardholder_id
date
2018-01-01 21:35:10    6.22             13
2018-01-01 21:43:12    3.83             13
2018-01-01 22:41:21    9.61             10
2018-01-01 23:13:30   19.03              4
2018-01-01 23:15:10    2.95             18

In [ ]:
# Write function that locates outliers using standard deviation

In [ ]:
# Find anomalous transactions for 3 random card holders

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders